Repository PistachioHQ/api: changes, and which lefthook commands are due for each by the changed paths.
All: buf-lint, buf-format, rust-fmt, rust-clippy

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    buf-lint:
      glob: "*.proto"
      run: task buf:lint

    buf-format:
      glob: "*.proto"
      run: task buf:format:check

    rust-fmt:
      glob: "*.rs"
      run: task rust:fmt:check

    rust-clippy:
      glob: "*.rs"
      run: task rust:clippy

    verify-license:
      run: |
        if [[ ! -f "LICENSE" ]]; then
          echo "Error: LICENSE file is missing"
          exit 1
        fi

    verify-signing-config:
      run: |
        if [[ "$(git config commit.gpgsign)" != "true" ]]; then
          echo "Error: Commit signing has been disabled"
          echo "Run: git config commit.gpgsign true"
          exit 1
        fi

        # Use git-common-dir to support both regular repos and worktrees
        GIT_COMMON_DIR="$(git rev-parse --git-common-dir)"
        ALLOWED_SIGNERS="$GIT_COMMON_DIR/allowed_signers"

        if [[ ! -f "$ALLOWED_SIGNERS" ]]; then
          echo "Error: Allowed signers file missing"
          echo "Run: task setup"
          exit 1
        fi

        CURRENT_EMAIL=$(git config user.email)
        if ! grep -q "^$CURRENT_EMAIL " "$ALLOWED_SIGNERS"; then
          echo "Error: Git email has changed. Run: task setup"
          exit 1
        fi
      tags: security

pre-push:
  commands:
    buf-breaking:
      run: task bump:check

commit-msg:
  commands:
    lint-commit-message:
      run: cog verify --file {1}

    verify-commit-author:
      run: |
        AUTHOR_EMAIL=$(git config user.email)
        ALLOWED_DOMAINS="@pistachiohq.com"
        
        VALID_DOMAIN=false
        for domain in $ALLOWED_DOMAINS; do
          if [[ "$AUTHOR_EMAIL" == *"$domain" ]]; then
            VALID_DOMAIN=true
            break
          fi
        done
        
        if [[ "$VALID_DOMAIN" != "true" ]]; then
          echo "Error: Commit author email '$AUTHOR_EMAIL' is not from an authorized domain"
          echo "Allowed domains: $ALLOWED_DOMAINS"
          echo "Run: git config --global user.email your-email@pistachiohq.com"
          exit 1
        fi
        
        if [[ "$(git config commit.gpgsign)" != "true" ]]; then
          echo "Error: This commit must be signed, but \`git config commit.gpgsign\` is set to false"
          exit 1
        fi

feat(admin): add GetAdminSdkConfig RPC for project SDK configuration
  openapi/admin-bundled.yml
  openapi/components/schemas/admin/project.yml
  openapi/paths/admin/projects.yml
  openapi/pistachio-admin-api.yml
  proto/pistachio/admin/v1/admin_api.proto
  proto/pistachio/admin/v1/project.proto
  rust/pistachio-api-common/src/admin/client.rs
  rust/pistachio-api-common/src/admin/project.rs
  rust/pistachio-grpc-client/src/admin/client.rs
  rust/pistachio-grpc-client/src/admin/create_project.rs
  rust/pistachio-grpc-client/src/admin/get_admin_sdk_config.rs
  rust/pistachio-grpc-client/src/admin/mod.rs
  rust/pistachio-openapi-client/src/admin/client.rs
  rust/pistachio-openapi-client/src/admin/create_project.rs
  rust/pistachio-openapi-client/src/admin/get_admin_sdk_config.rs
  rust/pistachio-openapi-client/src/admin/mod.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/projects_api.rs
  rust/pistachio-openapi-client/src/generated_admin/models/get_admin_sdk_config_200_response.rs
  rust/pistachio-openapi-client/src/generated_admin/models/mod.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

fix(openapi): add /admin/v1 prefix to Admin API paths
  openapi/admin-bundled.yml
  openapi/pistachio-admin-api.yml
  rust/pistachio-openapi-client/src/generated_admin/apis/apps_api.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/projects_api.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/tenants_api.rs
Due: rust-fmt, rust-clippy

feat(error): add error type slugs module
  rust/pistachio-api-common/src/error.rs
Due: rust-fmt, rust-clippy

refactor(openapi-client): defer config initialization to connect()
  rust/pistachio-openapi-client/src/admin/client.rs
Due: rust-fmt, rust-clippy

fix(openapi-client): improve error handling for RFC 7807 responses
  rust/pistachio-openapi-client/src/admin/get_project.rs
Due: rust-fmt, rust-clippy

fix(openapi): use 201 status code for project creation
  openapi/admin-bundled.yml
  openapi/paths/admin/projects.yml
  rust/pistachio-openapi-client/src/admin/create_project.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/projects_api.rs
  rust/pistachio-openapi-client/src/generated_admin/models/create_project_201_response.rs
  rust/pistachio-openapi-client/src/generated_admin/models/mod.rs
Due: rust-fmt, rust-clippy

feat(tenant): improve tenant API and SDK
  openapi/admin-bundled.yml
  openapi/components/responses/errors.yml
  openapi/components/schemas/admin/tenant.yml
  openapi/paths/admin/tenants.yml
  proto/pistachio/admin/v1/tenant.proto
  rust/pistachio-api-common/src/admin/tenant.rs
  rust/pistachio-grpc-client/src/admin/create_tenant.rs
  rust/pistachio-openapi-client/Cargo.toml
  rust/pistachio-openapi-client/src/admin/create_tenant.rs
  rust/pistachio-openapi-client/src/admin/delete_tenant.rs
  rust/pistachio-openapi-client/src/admin/update_tenant.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/tenants_api.rs
  rust/pistachio-openapi-client/src/generated_admin/models/create_tenant_201_response.rs
  rust/pistachio-openapi-client/src/generated_admin/models/create_tenant_request.rs
  rust/pistachio-openapi-client/src/generated_admin/models/mod.rs
  rust/pistachio-openapi-client/src/generated_admin/models/update_tenant_request.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

feat(admin): make app display_name optional in CreateAppRequest
  openapi/admin-bundled.yml
  openapi/components/schemas/admin/app.yml
  proto/pistachio/admin/v1/app.proto
  rust/pistachio-api-common/src/admin/app.rs
  rust/pistachio-grpc-client/src/admin/create_app.rs
  rust/pistachio-openapi-client/src/admin/create_app.rs
  rust/pistachio-openapi-client/src/generated_admin/models/create_app_request.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

feat(sdk): use domain types for MfaMethod in tenant responses
  rust/pistachio-api-common/src/admin/auth_provider.rs
  rust/pistachio-api-common/src/error.rs
  rust/pistachio-grpc-client/src/admin/create_tenant.rs
  rust/pistachio-grpc-client/src/admin/delete_project_auth_provider.rs
  rust/pistachio-grpc-client/src/admin/delete_tenant_auth_provider.rs
  rust/pistachio-grpc-client/src/admin/get_project_auth_provider.rs
  rust/pistachio-grpc-client/src/admin/list_project_auth_providers.rs
  rust/pistachio-grpc-client/src/admin/list_tenant_auth_providers.rs
  rust/pistachio-grpc-client/src/admin/update_project_auth_provider.rs
  rust/pistachio-grpc-client/src/admin/update_tenant_auth_provider.rs
  rust/pistachio-openapi-client/src/admin/create_tenant.rs
  rust/pistachio-openapi-client/src/admin/delete_project_auth_provider.rs
  rust/pistachio-openapi-client/src/admin/delete_tenant_auth_provider.rs
  rust/pistachio-openapi-client/src/admin/get_project_auth_provider.rs
  rust/pistachio-openapi-client/src/admin/update_project_auth_provider.rs
  rust/pistachio-openapi-client/src/admin/update_tenant_auth_provider.rs
  rust/pistachio-openapi-client/src/types/auth_provider.rs
Due: rust-fmt, rust-clippy

refactor(openapi-client): remove unused uuid dependency
  rust/pistachio-openapi-client/Cargo.toml
Due: none

feat(deny): add cargo-deny rules to enforce centralized crypto usage
  rust/deny.toml
Due: none

feat(auth-provider): add pagination to all list methods
  proto/pistachio/admin/v1/auth_provider.proto
  rust/pistachio-api-common/src/admin/auth_provider.rs
  rust/pistachio-grpc-client/src/admin/get_effective_tenant_auth_providers.rs
  rust/pistachio-grpc-client/src/admin/list_project_auth_providers.rs
  rust/pistachio-grpc-client/src/admin/list_tenant_auth_providers.rs
  rust/pistachio-grpc-client/src/types/conversion.rs
  rust/pistachio-grpc-client/src/types/mod.rs
  rust/pistachio-openapi-client/src/admin/get_effective_tenant_auth_providers.rs
  rust/pistachio-openapi-client/src/admin/list_project_auth_providers.rs
  rust/pistachio-openapi-client/src/admin/list_tenant_auth_providers.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

chore(deny): ban nanoid crate
  rust/deny.toml
Due: none

refactor(user): use CustomClaims from libgn
  rust/pistachio-api-common/src/admin/user.rs
Due: rust-fmt, rust-clippy

feat(error): add NOT_IMPLEMENTED error type constant
  rust/pistachio-api-common/src/error.rs
Due: rust-fmt, rust-clippy

feat(api): add proto definitions for service accounts, API keys, MFA, tokens, and usage
  openapi/admin-bundled.yml
  openapi/bundled.yml
  openapi/components/schemas/admin/api_key.yml
  openapi/components/schemas/admin/service_account.yml
  openapi/components/schemas/admin/usage.yml
  openapi/components/schemas/auth_flow.yml
  openapi/components/schemas/user_self_service.yml
  openapi/paths/admin/api_keys.yml
  proto/pistachio/admin/v1/admin_api.proto
  proto/pistachio/admin/v1/api_key.proto
  proto/pistachio/admin/v1/mfa.proto
  proto/pistachio/admin/v1/service_account.proto
  proto/pistachio/admin/v1/token.proto
  proto/pistachio/admin/v1/usage.proto
  proto/pistachio/types/v1/api_key.proto
  proto/pistachio/types/v1/mfa.proto
  proto/pistachio/types/v1/service_account.proto
  proto/pistachio/types/v1/session.proto
  proto/pistachio/types/v1/usage.proto
  proto/pistachio/v1/api.proto
  proto/pistachio/v1/auth_flow.proto
  proto/pistachio/v1/mfa.proto
  proto/pistachio/v1/user.proto
  rust/pistachio-openapi-client/src/generated/models/get_current_user_200_response_user_providers_inner.rs
  rust/pistachio-openapi-client/src/generated/models/list_sessions_200_response_sessions_inner.rs
  rust/pistachio-openapi-client/src/generated_admin/apis/api_keys_api.rs
  rust/pistachio-openapi-client/src/generated_admin/models/generate_service_account_key_201_response_key.rs
  rust/pistachio-openapi-client/src/generated_admin/models/generate_service_account_key_request.rs
  rust/pistachio-openapi-client/src/generated_admin/models/get_project_quotas_200_response_quotas.rs
  rust/pistachio-openapi-client/src/generated_admin/models/mod.rs
  rust/pistachio-openapi-client/src/generated_admin/models/rotate_api_key_200_response.rs
  rust/pistachio-openapi-client/src/generated_admin/models/rotate_api_key_request.rs
  rust/pistachio-openapi-client/src/generated_admin/models/update_project_quotas_request.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

fix(api): remove previous_key_string from RotateApiKeyResponse
  openapi/admin-bundled.yml
  openapi/components/schemas/admin/api_key.yml
  proto/pistachio/admin/v1/api_key.proto
  rust/pistachio-api-common/src/admin/api_key.rs
  rust/pistachio-grpc-client/src/admin/api_key.rs
  rust/pistachio-openapi-client/src/admin/api_key.rs
  rust/pistachio-openapi-client/src/generated_admin/models/rotate_api_key_200_response.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

feat(api): add multi-algorithm crypto support for service account keys
  openapi/admin-bundled.yml
  openapi/components/schemas/admin/service_account.yml
  proto/pistachio/admin/v1/service_account.proto
  rust/.cargo/audit.toml
  rust/deny.toml
  rust/pistachio-api-common/src/admin/service_account.rs
  rust/pistachio-grpc-client/src/admin/service_account.rs
  rust/pistachio-openapi-client/src/admin/service_account.rs
  rust/pistachio-openapi-client/src/generated_admin/models/generate_service_account_key_201_response.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

feat(api): add user lookup RPCs to admin API
  proto/pistachio/admin/v1/admin_api.proto
  proto/pistachio/admin/v1/user.proto
Due: buf-lint, buf-format

refactor(api): consolidate auth RPCs into Pistachio service
  proto/pistachio/v1/api.proto
  proto/pistachio/v1/auth.proto
Due: buf-lint, buf-format

feat(api): add GET callback endpoints for OAuth/OIDC browser redirects
  openapi/bundled.yml
  openapi/paths/auth.yml
  rust/pistachio-openapi-client/src/generated/apis/auth_api.rs
Due: rust-fmt, rust-clippy

feat(api): add GetMfaFactor RPC for retrieving single MFA factor
  proto/pistachio/v1/api.proto
  proto/pistachio/v1/mfa.proto
Due: buf-lint, buf-format

feat(client): support typed ClaimValue in custom claims
  rust/pistachio-grpc-client/src/admin/create_project_user.rs
  rust/pistachio-grpc-client/src/admin/create_tenant_user.rs
  rust/pistachio-grpc-client/src/admin/update_project_user.rs
  rust/pistachio-grpc-client/src/admin/update_tenant_user.rs
  rust/pistachio-grpc-client/src/types/conversion.rs
  rust/pistachio-grpc-client/src/types/mod.rs
  rust/pistachio-openapi-client/src/admin/create_project_user.rs
  rust/pistachio-openapi-client/src/admin/create_tenant_user.rs
  rust/pistachio-openapi-client/src/admin/import_project_users.rs
  rust/pistachio-openapi-client/src/admin/import_tenant_users.rs
  rust/pistachio-openapi-client/src/admin/update_project_user.rs
  rust/pistachio-openapi-client/src/admin/update_tenant_user.rs
  rust/pistachio-openapi-client/src/types/user.rs
Due: rust-fmt, rust-clippy

docs(api): document idempotency of DisableServiceAccountKey
  openapi/admin-bundled.yml
  openapi/paths/admin/service_accounts.yml
  proto/pistachio/admin/v1/service_account.proto
  rust/pistachio-openapi-client/src/generated_admin/apis/service_accounts_api.rs
Due: buf-lint, buf-format, rust-fmt, rust-clippy

refactor(client): improve api_key error handling structure
  rust/pistachio-openapi-client/src/admin/api_key.rs
Due: rust-fmt, rust-clippy
